  {% setcontent homepage = "homepage" limit 1 returnsingle %}

  {% set filename = homepage.image.file|default(homepage.image) %}
  <section style="background-image: url({{ asset(filename, 'files') }})">
      <div class="container">
          <h1>{{ config.get('general/sitename') }}</h1>
          {% if config.get('general/payoff') %}
          <h2>{{ config.get('general/payoff') }}</h2>
          {% endif %}
      </div>
  </section>
