{# Navbar #}
<nav class="navbar admin" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-menu" id="navbar-toggle">
            <div class="navbar-start">
                {{ menu('admin', 'partials/header/_sub_menu_admin.twig') }}
            </div>

        </div>
    </div>
</nav>
