{# Footer #}
<div class="container">
    <nav class="" role="navigation">
      {{ menu(
          identifier = 'main',
          template = 'partials/footer/_sub_menu_footer.twig',
          params = {'withsubmenus': false}
      ) }}
    </nav>

</div>
