{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page">
    <div class="container">
        ceci est ma page sans template - à rediger
    </div>
</section>

{% endblock main %}
